.logo{
  width: 150px;
}
.container{
  margin-left: 20px;
  margin-right: 20px;
}
header{
 background-image: url(img/img/pattern.png);
 background-size: 150px;
 color: aliceblue;
 padding: .5%;
 background-color: hsl(195, 100%, 50%);
 
}
.link{
  color: gray;
  font-size: 15px;
}
.data{
  color: gray;
  font-size: 8px;
}
.commenti{
  font-size: 8px;
}
ul{
  margin-left: 0%;
  padding: 0%;
}
.larghezza{
  width: 50%;
}
thead{
  color: white;
  background-color: skyblue;
}
.contenuto1{
  background-color: snow;
}
.contenuto2{
  background-color: skyblue;
}

h4{
  color: grey;
}

.caption1{
  text-align: center;
  color: white;
  background-image: url(img/img/monitor.jpg);
  width: 23%;
  height: 150px;
}

.caption2{
  margin-top: 20px;
  text-align: center;
  color: white;
  background-image: url(img/img/graph.jpg);
  width: 23%;
  height: 150px;
}