body{ 
margin-left: 8%;
margin-right: 8%;
}
header{
 background-image: url(img/img/pattern.png);
 background-size: 150px;
 color: aliceblue;
 padding: .5%;
 background-color: hsl(195, 100%, 50%);
 
}
.link{
  color: gray;
  font-size: 15px;
}
.data{
  color: gray;
  font-size: 8px;
}
.commenti{
  font-size: 8px;
}